import * as React from "react";
// biome-ignore lint/complexity/noBannedTypes: <explanation></explanation>
export type {{properCase name}}Props = {};
export const {{properCase name}} = (props: {{properCase name}}Props) => {
	return <div>{{properCase name}}</div>;
};
